.index_search{
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center
}

.search_search{
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center
}

.index_search form{
    width: 40%;
    margin: 0;
}

.search_search .input-group{
    width: 60%;
    margin: 0;
}

.search_table{
    display: flex;
    align-items: center;
    justify-content: center
}

.search_table table{
    width: 90%;
    margin: 0;
}

.gray_body{
    background-color: #eee;
}

.filter_table{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.filter_table table {
    width: 80%;
    margin: 0;
    background-color: #fff;
    vertical-align: middle;
}

.price {
    color: red;
    font-weight: bold;
}

.filtered{
    float:left;
    border: 1px solid  #E85708;
    font-size: small;
    padding: 2px;
    margin: 4px;
}

.filtered a{
    color: #E85708;
}

.filter_head th{
    vertical-align: middle;
}

.total {
    vertical-align: middle;
    float:right;
}

.total b{
    color: red;
}