@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

h3 {
    font-family: "Microsoft YaHei";
}

.index_search {
    margin-top: 20em;
    display: flex;
    align-items: center;
    justify-content: center
}

.search_search {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center
}

.index_search form {
    width: 40%;
    margin: 0;
}

.search_search .input-group {
    width: 60%;
    margin: 0;
}

.search_table {
    display: flex;
    align-items: center;
    justify-content: center
}

.search_table table {
    width: 80%;
    margin: 0;
}

.gray_body {
    background-color: #eee;
}

.filter_mid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.filter_mid p {
    width: 80%;
    margin: 0;
    vertical-align: middle;
}

.filter_mid table {
    width: 80%;
    margin: 0;
    background-color: #fff;
    vertical-align: middle;
}

.price {
    color: red;
    font-weight: bold;
}

.page_not_found {
    padding: 0;
    margin: 0
}

.filtered {
    float: left;
    border: 1px solid #E85708;
    font-size: small;
    padding: 2px;
    margin: 4px;
}

.filtered a {
    color: #E85708;
}

.filter_head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.filter_head_mid {
    width: 80%;
    margin: 0;
    background-color: #fff;
    display: table;
}

.filter_select th {
    vertical-align: middle;
}

.total {
    vertical-align: middle;
    float: right;
}

.total b {
    color: red;
}

.logo_head {
    float: left;
}

.search_head {
    width: 60%;
    display: table-cell;
    vertical-align: middle;
}

.detail_table {
    border: solid 15px white;
}

.to_buy_jd {
    float: right;
    color: white;

    background: #C81522;
    margin: auto 0;
    border: #C81522 solid 1px;
}

.to_buy_sn {
    float: right;
    color: #FF8200;
    margin: auto 0;
    border: #262b31 solid 1px;
}

.to_buy_tb {
    float: right;
    color: #FF8200;
    margin: auto 0;
    border: #262b31 solid 1px;
}

.to_buy_az {
    float: right;
    color: #262b31;
    margin: auto 0;
    border: #FF8200 solid 1px;
}

.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 1px;
    font-size: 1em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:checked ~ label {
    color: #FFD700;
}

.category_table a {
    color: black;
}