<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load bootstrap4 %}
    {% load static %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="gray_body">
<div class="filter_table">
    <table class="table">
        <tr>
            <td>
               <img src="{{ product.image_url }}" width="50px" alt="">
            </td>
            <td>
                {{ product.name }}
            </td>
            <td>
                {{ product.brand }}
            </td>
        </tr>
    </table>
</div>
<div class="filter_table">
    <table class="table">
        {% for item in items %}
            <tr>
                <td>
                    <a href="{{ item.item_url }}">{{ item.title }}</a>
                </td>
                <td>
                    {{ item.shop_name }}
                </td>
                <td class="price">
                    {{ item.price }}
                </td>
                <td>
                    {{ item.evaluation.score|floatformat:-2 }}
                </td>
                <td width="10%">
                    {% if item.platform == 'JD' %}
                        <img src="{% static 'img/jd.ico' %}" alt="" width="15px">京东
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>