<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全网比价--{{ category }}</title>
    {% load bootstrap4 %}
    {% load static %}
    {% bootstrap_css %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'iconfont/iconfont.css' %}">
    <script type="text/javascript" src="{% static 'js/products_filter.js' %}">
    </script>
</head>
<body class="gray_body">
<div class="filter_head">
    <div class="filter_head_mid">
        <a href="/"><img src="{% static 'img/logo.png' %}" alt="" width="160px" height="75px"></a>
        <form method="get" action="{% url 'products_filter' category %}" class="search_head">
            <div class="input-group">
                <input type="text" class="form-control" name="str" placeholder="Search...">
                <div class="input-group-append">
                    <button class="input-group-text" id="basic-addon2">搜索</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>